<div class="page-wrapper min-h-screen py-12">
<%= form_with url: items_path, method: :get, local: true do %>
  <div class="flex flex-wrap justify-center items-end gap-2 mt-4 mb-6 text-sm">

    <div>
      <%= select_tag :category,
        options_for_select(
          [['-- カテゴリ --', '']] + Item::CATEGORIES.map { |c| [c, c] },
          params[:category]
        ),
        class: "border border-gray-300 rounded px-2 py-1 w-36" %>
    </div>

    <div>
      <%= text_field_tag :brand, params[:brand], placeholder: "ブランド",
        class: "border border-gray-300 rounded px-2 py-1 w-36" %>
    </div>

    <div>
    <%= select_tag :color,
    options_for_select(Item::COLORS, params[:color]),
    prompt: '-- カラー --',
    class: "border border-gray-300 rounded px-2 py-1 w-36" %>
    </div>

    <div>
      <%= text_field_tag :keyword, params[:keyword], placeholder: "キーワード",
        class: "border border-gray-300 rounded px-2 py-1 w-36" %>
    </div>

    <div>
    <%= select_tag :sort, options_for_select([
      ['-- 値段順 --', ''],
      ['安い順', 'price_asc'],
      ['高い順', 'price_desc']
    ], params[:sort]), class: "border border-gray-300 rounded px-2 py-1 w-36" %>
    </div>

    <div>
      <%= submit_tag "絞り込む", class: "bg-blue-500 text-white px-3 py-1 rounded" %>
    </div>

    <div>
      <%= link_to "リセット", items_path, class: "text-blue-500 underline ml-2" %>
    </div>

  </div>
<% end %>

<% filters = [] %>
<% filters << "カテゴリ: #{params[:category]}" if params[:category].present? %>
<% filters << "ブランド: #{params[:brand]}" if params[:brand].present? %>
<% filters << "カラー: #{params[:color]}" if params[:color].present? %>
<% filters << "キーワード: #{params[:keyword]}" if params[:keyword].present? %>
<% filters << "値段: 安い順" if params[:sort] == 'price_asc' %>
<% filters << "値段: 高い順" if params[:sort] == 'price_desc' %>

<% if filters.any? %>
  <div class="border border-gray-400 rounded p-2 my-4 bg-white text-sm">
    <strong>絞り込み条件：</strong><%= filters.join(" / ") %>
  </div>
<% end %>

<div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-4">
  <% @items.each do |item| %>
    <div class="item-card mx-auto">
      <% if item.image.attached? %>
        <%= link_to share_closet_item_path(item) do %>
          <div class="item-image-wrapper">
            <%= image_tag url_for(item.image), class: "item-image" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to item.name, item_path(item, from: "share"), class: "block text-center p-4 text-sm" %>
      <% end %>
    </div>
  <% end %>
</div>
