<div class="page-wrapper min-h-screen flex items-start justify-center py-12">
  <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-xl font-bold mb-6 text-center text-gray-800">設定</h1>
     
    <%= form_with model: current_user, scope: :user, url: settings_path, method: :patch, local: true do |f| %>
      <div class="mb-6">
        <%= f.label :theme_id, "テーマカラー", class: "block text-sm font-medium text-gray-700" %>
        <%= f.select :theme_id,
      options_from_collection_for_select(@themes.uniq(&:id), :id, :name, current_user.theme_id),
      {}, class: "mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 bg-white" %>
      </div>

      <div class="text-center mb-6">
        <%= f.submit "テーマカラーを変更する", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, form: { "data-turbo" => false },
          class: "text-red-600 text-sm hover:underline" %>
    </div>
  </div>
</div>
