<%= form_with(model: item, local: true, html: { multipart: true}) do |f| %>
    <% if item.errors.any? %>
      <div>
        <h2><%= pluralize(item.errors.count, "エラー") %>があります：</h2>
        <ul>
          <% item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
  
    <div>
      <%= f.label :name, '名前' %><br>
      <%= f.text_field :name %>
    </div>
  
    <div>
      <%= f.label :brand, 'ブランド' %><br>
      <%= f.text_field :brand %>
    </div>
  
    <div>
      <%= f.label :category, 'カテゴリ' %><br>
      <%= f.text_field :category %>
    </div>
  
    <div>
      <%= f.label :price, '値段' %><br>
      <%= f.number_field :price %>
    </div>

    <div>
      <%= f.label :color, 'カラー' %><br>
      <%= f.text_field :color %>
    </div>

    <div>
      <%= f.label :keyword1, 'キーワード①' %><br>
      <%= f.text_field :keyword1 %>
    </div>

    <div>
      <%= f.label :keyword2, 'キーワード②' %><br>
      <%= f.text_field :keyword2 %>
    </div>
  
    <div>
      <%= f.label :description, '説明' %><br>
      <%= f.text_area :description %>
    </div>
  
    <div>
      <%= f.submit %>
    </div>
  <% end %>
