<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
   
   
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= current_user&.theme&.css_class || 'theme-default' %>">
    <% if notice %>
      <p style="color: green;"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p style="color: red;"><%= alert %></p>
    <% end %>
    
  <% if user_signed_in? && controller_name != "how_tos" %>
    <p>こんにちは、<%= current_user.email %> さん！</p>

    <nav class="nav-bar flex gap-4 p-2">
      <%= link_to '設定', settings_path, class: "text-blue-600" %>
      <%= link_to 'アイテム一覧', items_path, class: "text-blue-600" %>
      <%= link_to 'アイテム登録', new_item_path, class: "text-blue-600" %>
     </nav>
  <% end %>

    <%= yield %>
  </body>
</html>
