<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
   
   
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= current_user&.theme&.css_class || 'theme-default' %>">
    <% if notice %>
      <p style="color: green;"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p style="color: red;"><%= alert %></p>
    <% end %>
    
  <% if user_signed_in? %>
    <p>こんにちは、<%= current_user.email %> さん！</p>

    <nav class="nav-bar flex gap-4 p-2">
    <% if controller_name == 'closets' && action_name == 'share' %>
      <!-- シェアクローゼット表示時だけ -->
    <div class="flex items-center gap-2">
      <%= link_to '← マイクローゼットへ戻る', items_path, class: "text-blue-600" %>
      <%= link_to '？', share_closet_info_path, 
          title: "シェアクローゼットの説明を見る", 
          class: "text-blue-600 text-base no-underline cursor-help hover:text-blue-800" %>
    </div>

    <% elsif controller_name == 'how_tos' && action_name == 'share_closet' %>

    <div class="flex items-center gap-2">
      <%= link_to '← シェアクローゼットに戻る', share_closet_path,
          class: "text-blue-600 hover:text-blue-800" %>
    </div>

    <% else %>
      <!-- 通常のナビゲーション -->
      <div class="flex gap-4">
        <%= link_to '設定', settings_path, class: "text-blue-600" %>
        <%= link_to 'アイテム一覧', items_path, class: "text-blue-600" %>
        <%= link_to 'アイテム登録', new_item_path, class: "text-blue-600" %>
      </div>
  
      <div>
        <%= link_to '？', how_to_path, title: "このアプリの使い方を見る", class: "text-blue-600 text-base no-underline cursor-help" %>
      </div>
    <% end %>
  </nav>
  <% end %>

    <%= yield %>
  </body>
</html>
